body{
  background-color: #ACACB5;
  transition: 0.4s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}
#tsm{
  cursor: pointer;
  fill: #ACACB5;
  transition: 0.4s ease-in-out;
}
.boom{
  background-color: white;
  transition: 0.4s ease-in-out;
}
.boom #tsm{
  fill: black;
  transition: 0.4s ease-in-out;
}